<!DOCTYPE html>
<html>
<head>
  <title>DeadOrAlive</title>
  <%= stylesheet_link_tag    "dead_or_alive/application", :media => "all" %>
  <%= javascript_include_tag "dead_or_alive/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
